html {
    background-image: url(https://img.allw.mn/thumbs/ni/y6/twk5ay0d5d844d7a6c7a0594787754_1080x1080.jpg);
    background-size: 100%;
    background-position: center;;
}

body {
    width: 70%;
    background-color:white;
    margin: auto;
    padding-bottom: 0;
    font-size: 20px;
    opacity: 96%;
    border-top-right-radius: 90px;
    border-top-left-radius: 90px;
   
}

.header {
    padding: 1em;
    margin: 0 ;
    text-align: center;
    background: #f7c8d4;
    color: rgb(151, 75, 75);
    font-size: 40px;
    border-radius: 90px;
   
    
  }
  .header p {
      font-family: Verdana;
      font-size: 50%;
      margin: 0 ;
      padding: 0;
  }
  .navbar {
      list-style-type: none;
      text-align: center;
      margin: auto;
      height: 40px;
      border-radius: 10px;
      width: 80%;

  }
  .navbar li {
      display: inline;
  }

.navbar a {
    text-decoration: none;
    padding: .2em 3em ;
    color: rgb(133, 19, 66);
    background-color: #f7c8d4;
    border-radius: 20%;
    border: 2px solid rgb(133, 19, 66);


}
  

.history h2 {
    color:rgb(133, 19, 66);
    padding-left: 1em;
    text-align: center;
    font-family: Georgia;
    font-size: 40px;
}
.history p {
    text-align: center;
    overflow: auto;
    font-size: 20px;
    font-family: Georgia;
    color:rgb(133, 19, 66;
    width: 100%;
    
}

.top {
    text-align: center;
    font-family: Georgia;
    font-size: 30px;
    color:rgb(133, 17, 66);
}

div.gallery {
    border: 1px solid rgb(133, 17, 66);
  }
  
  div.gallery:hover {
    border: 4px solid rgb(119, 17, 66);
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
    color: rgb(133, 17, 56);
    font-family: Verdana;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  


.recipe h5 {
    font-family: Georgia;
    text-align: center;
    color: rgb(133, 17, 66);
    font-size: 50px;


}
.recipe h6 {
    font-family: Georgia;
    text-align: center;
    color: rgb(133, 19, 66);
    font-size: 20px;
    margin:0 auto;
    padding: 1em;  
    width: 60%;


}
.recipe p {
 border: 2px solid rgb(133, 19, 66);
 border-radius: 70px;
 margin:0 auto;
 padding: 20px;
 width: 90%;
 background-color: #fce3e9;;
}

footer{
    text-align: center;
    clear: both;
    color:rgb(133, 19, 66) ;
}
