html {
    background-color: black;
    background-image: url(https://media.istockphoto.com/photos/fruit-and-berry-tarts-dessert-assorted-top-view-background-picture-id639365696);
    background-size: cover;
}

body {
    width: 80%;
    background-color: #f7d5da;
    margin: 0 auto;
    padding-bottom: 1.5em;
}

header {
    width: 100%;
    background-color: #ee8290;
    height: 100px;
}

header h1 {
    margin: 0 auto;
    width: 220px;
    padding-top: 20px;
    font-size: 50px;
    font-family:Geneva;
    
}

h2 {
    padding-left: 1em;
}

p {
    padding-left: 1em;
    padding-right: 1em;
}